WcfService/TestConsole/Service References/ServiceReference2/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost/service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/service/Imports">
      <xsd:import schemaLocation="http://localhost/Service/TestService.svc?xsd=xsd0" namespace="http://localhost/service" />
      <xsd:import schemaLocation="http://localhost/Service/TestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Service/TestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Repository" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITestService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ITestService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITestService_ThrowFault_InputMessage">
    <wsdl:part name="parameters" element="tns:ThrowFault" />
  </wsdl:message>
  <wsdl:message name="ITestService_ThrowFault_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThrowFaultResponse" />
  </wsdl:message>
  <wsdl:portType name="ITestService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://localhost/service/ITestService/GetData" message="tns:ITestService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/service/ITestService/GetDataResponse" message="tns:ITestService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThrowFault">
      <wsdl:input wsaw:Action="http://localhost/service/ITestService/ThrowFault" message="tns:ITestService_ThrowFault_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/service/ITestService/ThrowFaultResponse" message="tns:ITestService_ThrowFault_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>